# policy configurations for robot



[action_space]
kinematics = nonholonomic
# action space size is speed_samples * rotation_samples + 1
speed_samples = 1
rotation_samples = 23
sampling = exponential
query_env = true


[cadrl]
mlp_dims = 150, 100, 100, 1
multiagent_training = true

[cadrl_with_lidar]
mlp_dims = 150, 100, 100, 1
multiagent_training = true


[lstm_rl]
global_state_dim = 50
mlp1_dims = 150, 100, 100, 50
mlp2_dims = 150, 100, 100, 1
multiagent_training = true
with_om = false
with_interaction_module = false


[srl]
mlp1_dims = 150, 100, 100, 50
mlp2_dims = 150, 100, 100, 1
multiagent_training = true
with_om = false


[sarl]
mlp1_dims = 150, 100
mlp2_dims = 100, 50
attention_dims = 100, 100, 1
mlp3_dims = 150, 100, 100, 1
multiagent_training = true
with_om = false
with_global_state = true
